@font-face {
  font-family: 'Raleway 400';
  src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway 700';
  src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Raleway 900';
  src: url('../fonts/Raleway/static/Raleway-Black.ttf');
}

@font-face {
  font-family: 'Kaushan';
  src: url('../fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Raleway 500 italic';
  src: url('../fonts/Raleway/static/Raleway-MediumItalic.ttf');
}