.header {
  padding: 15px 0;
  background-color: antiquewhite;
}

.wrap {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
}

/* .navigation_item+.navigation_item{
  margin-left: 20px;
}

.another-item~.another-item{
  margin-left: 50px;
} */
