.container {
   display: block;
   max-width: 1170px;
   background: #F5F5F5;
   margin: 0 auto;
   padding: 60px 15px;
}

.pricing-options__title {
   display: flex;
   align-items: center;
   justify-content: center;
   line-height: 42px;
}

.pricing-options__title p {
   font-family: 'Raleway';
   font-size: 36px;
   font-weight: 400;
   text-transform: uppercase;
   padding: 54px 0;
}

.prising-options__line {
   display: flex;
   height: 0px;
   width: 170px;
   border: 1px solid #EC7979;
   margin: 0 auto;
}

.pricing-options__subtitle {
   display: flex;
   align-items: center;
   justify-content: center;
}

.pricing-options__subtitle {
   font-size: 18px;
   font-family: 'Raleway';
   font-weight: 400;
   color: #86878B;
   margin-top: 40px;
}

.pricing-options-cards {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 60px;
}

.pricing-options-card {
   display: block;
   width: 370px;
   margin-top: 20px;
}

.pricing-options-card:active {
   transform: translateY(-30px);
   box-shadow: #333;
}

.pricing-options-card__black-box {
   display: flex;
   background-color: #333;
   border: 2px solid #F5F5F5;
   border-style: center;
   align-items: center;
   justify-content: center;
   color: white;
}

.pricing-options-card__black-box:nth-child(1) {
   font-size: 24px;
   font-family: 'Open Sans';
   font-weight: 700;
   padding: 16px 0;
}

.pricing-options-card__black-box:nth-child(2) {
   font-size: 36px;
   font-family: 'Raleway';
   font-weight: 900;
   padding: 30px 0;
}

.pricing-options-card__black-box:nth-child(3) {
   font-size: 18px;
   font-family: 'Raleway';
   font-weight: 400;
   padding: 14px 0;
   color: rgba(255, 255, 255, 0.5);
}

.pricing-option-card__white-box {
   display: flex;
   font-size: 18px;
   font-family: 'Raleway';
   font-weight: 400;
   align-items: center;
   justify-content: center;
   color: #86878B;
   background-color: white;
   border: 2px solid  #F5F5F5;
   padding: 15px 0;
}