.white__buttons {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.white__button {
  display: flex;
  width: 180px;
  height: 48px;
/*   padding: 17px 46px; */
  color: #212a2f;
  background-color: #ffffff;
  border: #ffffff;
  border-radius: 2px;
  font-family: "Roboto 700";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.white__button:hover {
  background-color: #b3b3b3;
  color: #e7e9ea;
}

.blackes {
  display: flex;
  justify-content: center;
}

.black {
  background-color: #212a2f;
  color: #ffffff;
}

.long-button {
  width: 384px;
}
