.footer {
  background-color: #212a2f;
  color: #ffffff;
  padding-bottom: 90px;
}
.container {
}

.footer-lists {
  display: flex;
  width: 70%;
  padding-top: 72px;
  padding-left: 54px;
}

.footer-list {
  width: 30%;
}
.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list-content {
  padding-top: 21px;
}

.footer-list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.footer-list__item:not(:first-of-type) {
  padding-top: 16px;
}

.footer-list__item a {
  color: #ffffff;
  text-decoration: none;
}

.footer-info {
  display: flex;
  padding-top: 85px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 54px;
}

.footer-info-tagline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  width: 20%;
}

.footer-info-tagline__text {
  margin-top: 21px;
}

.footer-info-flags {
  display: flex;
  align-items: flex-end;
  padding-right: 195px;
}

.footer-info__flag {
  display: flex;
  width: 37px;
}

.footer-info__flag:first-of-type {
  margin-right: 24px;
}

.footer-info__flag img {
  width: 100%;
}

.footer-tag {
  display: flex;
  padding-top: 126px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #ffffff;
  width: 100%;
  justify-content: center;
}

.footer-tag p {
  text-align: center;
}


