.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header-wrap {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.header-wrap__navigation {
  justify-content: flex-start;
}

.header-wrap__navigation-list {
  display: flex;
  list-style: none;
  padding-top: 21px;
  padding-bottom: 18px;
}

.header-wrap__navigation-list-item {
  list-style: none;
}

.header-wrap__navigation-list-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto 400";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #212a2f;
}

.header-wrap__navigation-list-item:not(:first-child) {
  margin-left: 36px;
}

.header-wrap__logo {
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
}

.header-wrap__links-list {
  display: flex;
  list-style: none;
  margin-left: auto;
  padding-top: 21px;
  padding-bottom: 18px;
}

.header-wrap__links-list-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto 400";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #212a2f;
}

.header-wrap__links-list-item:nth-child(1) {
  margin-right: 39px;
}

.header-wrap__links-icons {
  display: flex;
  padding-left: 21px;
  align-items: center;
}

.header-wrap__links-icons a {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}

.header-wrap__links-icon {
  width: 20px;
  height: 20px;
  color: #212a2f;
}

.header-wrap__links-icon:not(:first-of-type) {
  margin-left: 20px;
}

.header-wrap__links-icons-number {
   width: 0;
  text-decoration: none;
  font-family: "Roboto 400";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #e8e8e8;
  position: relative;
  top: -3%;
  right: 10%;
}
