.section-between__image {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.section-between__image img {
  width: 100%;
}

.section-between-info {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}
.section-between-info__title {
  font-family: "Roboto 700";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
}

.section-between-info__subtitle {
  font-family: "Roboto 700";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #212a2f;
  margin-top: 54px;
}
